.mainrow::after {
    content: "";
    display: table;
    clear: both;
}


.leftcolumn {
    font-family: 'Kalam';
    float: left;
    width: 75%;
}

.leftcolumn h2 {
    font-family: 'Satisfy';
}

.leftcolumn.card {
    margin-left: 20px;
}

.rightcolumn {
    font-family: 'Satisfy';
    float: left;
    width: 25%;
    padding-left: 20px;
}

.rightcolumn .card .cardtxt {
    color: hsl(41, 62%, 40%);
    opacity: 0;
}

.rightcolumn .card {
    box-shadow: 5px 4px 4px 2px rgb(165, 125, 39);
    margin-right: 30px;
    background-position: center;
    background-size: cover;
    transition: 0.4s;
}

.rightcolumn .card:hover {
    transform: scale(1.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.rightcolumn .card .cardtxt:hover {
    opacity: 1;
    transition: 1.5s;
    color: white;
}



.card1 {
    background-image: url(./images/card1.jpg);
}

.card1:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/card1.jpg');
    background-position: center;
    background-size: cover;
}


.card2 {
    background-image: url(./images/card2.jpg);
}

.card2:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/card2.jpg');
    background-position: center;
    background-size: cover;
}


.card3 {
    background-image: url(./images/card3.jpg);
}

.card3:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/card3.jpg');
    background-position: center;
    background-size: cover;
}


.card4 {
    background-image: url(./images/card4.jpg);
}

.card4:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/card4.jpg');
    background-position: center;
    background-size: cover;
}



/* Vanilla Path Card*/

.path_card p {
    margin-bottom: 10px;
    margin-top: 20px;
}

.container {
    border: 2px solid black;
    height: 200px;
    width: 500px;
}

img[src="./resources/images/meditation.jpg"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

@media only screen and (max-width: 800px) {


    .leftcolumn{
        width: auto;
    }
    .leftcolumn img, .container{
        width: 100%;
    }


    .rightcolumn{
        transform: translateX(0);
        margin: 0 1em;
        width: 100%;    
        padding: 0;
        text-align: center;
    }
    .rightcolumn .card{
        height: auto;
        margin: 1em 1em;
    }
    
    .rightcolumn .card:hover{
        scale: 1;
    }

    .rightcolumn .card p{
       display: none;
    }
    .rightcolumn .card:hover {
        transform: scale(1);
    }

}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
    .leftcolumn{
        width: 50%;
    }
    .leftcolumn img, .container{
        width: 100%;
    }

    .rightcolumn {
        width: 50%;
    }
}